<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="e17dcbea-3377-456c-b8e1-2c646ae2306e" name="TestSuite 2" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="e17dcbea-3377-456c-b8e1-2c646ae2306efileName">TestSuite-2</con:setting>
  </con:settings>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties/>
  <con:reportParameters/>
</con:testSuite>
