<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="e17dcbea-3377-456c-b8e1-2c646ae2306e" name="TestSuite 2" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="e17dcbea-3377-456c-b8e1-2c646ae2306efileName">TestSuite-2</con:setting>
  </con:settings>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties/>
  <con:reportParameters/>
  <con:environmentSpec>
    <con:entry environmentId="b6cb0f3f-7612-49bf-bf66-47953972a05a">
      <con:authProfile>Inherit From Parent</con:authProfile>
    </con:entry>
  </con:environmentSpec>
</con:testSuite>
