<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="08ee9381-b25d-442f-8168-f2fb0428c1f0" name="TestSuite 1" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="08ee9381-b25d-442f-8168-f2fb0428c1f0fileName">TestSuite-1</con:setting>
  </con:settings>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties/>
  <con:reportParameters/>
  <con:environmentSpec>
    <con:entry environmentId="b6cb0f3f-7612-49bf-bf66-47953972a05a">
      <con:authProfile>Inherit From Parent</con:authProfile>
    </con:entry>
  </con:environmentSpec>
</con:testSuite>
