<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="35bb1606-1cd1-4200-8de2-9a9c8de97de7" name="TestSuite 3" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="35bb1606-1cd1-4200-8de2-9a9c8de97de7fileName">TestSuite-3</con:setting>
  </con:settings>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties/>
  <con:reportParameters/>
</con:testSuite>
