<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="02a3a1b5-3bd1-4634-8cdb-d73c3322b4e5" name="TestSuite 4" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="02a3a1b5-3bd1-4634-8cdb-d73c3322b4e5fileName">TestSuite-4</con:setting>
  </con:settings>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties/>
  <con:reportParameters/>
</con:testSuite>
